@media (min-width:320px) and (max-width:575.99px) {

    /* =================
         nav part start
    ================== */


    .navbar-toggler {
        border: 3px solid white;
    }

    .navbar-toggler i {
        color: white;
    }

    .navbar-toggler:focus {
        box-shadow: 0px 0px 0px transparent;
    }

    .navbar-collapse {
        background: rgba(0, 0, 0, .4);
        border-radius: 20px;
    }

    .navbar-nav {
        margin-top: 30px;
        row-gap: 13px;
    }

    .nav-item:hover .nav-link {
        color: #BBBBCB;
    }

    .nav-link {
        text-align: center;
        padding: 12px 0px;
    }

    .nav-btn {
        display: inline-block;
        background: #FCD980;
        color: black;
        padding: 12px 18px;
        font-size: 13px;
        margin-left: 0;
    }

    .nav-btn-box {
        text-align: center;
        margin-bottom: 30px;
    }

    /* =================
         nav part end
    ================== */

    /* =================
         bannar part start
    ================== */

    .bannar {
        padding: 40px 0px;
    }

    .bannar h2 {
        font-size: 35px;
        font-weight: 500;
        line-height: 65px;
        text-align: center;
    }

    .bannar p {
        font-size: 12px;
        font-weight: 400;
        padding-top: 20px;
        padding-bottom: 40px;
        width: auto;
        line-height: 25px;
        text-align: center;
    }

    .bannar-btn {
        border-radius: 20px;
        padding: 5px 25px;
        font-size: 12px;
        margin-left: 10px;
    }

    .bannar-btn:hover {
        color: black;
        background: #FCD980;
    }

    .bannar-btn-price {
        font-size: 12px;
        font-weight: 400;
    }

    .bannar-btn-price:hover i {
        opacity: 0;
    }

    .bannar img {
        width: 100%;
    }


    /* =================
    bannar part end
    ================== */

    /* =================
    work part start
    ================== */

    .work {
        padding: 40px 0px;
    }

    .work h3 {
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
    }

    .work p {
        font-size: 12px;
        line-height: 20px;
        width: auto;
        padding: 8px 0px;
        text-align: center;
    }

    .work-btn {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
    }

    .work-btn:hover i {
        opacity: 0;
    }

    .work .col-lg-7 .col-lg-6 img {
        width: 10%;
        margin-top: 20px;
    }

    .work .col-lg-6 {
        box-shadow: 0px 0px 10px black;
        margin-top: 20px;
        border-radius: 20px;
    }

    .work .col-lg-6 h4 {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        padding-top: 15px;
    }


    .work .col-lg-6 p {
        font-size: 12px;
        line-height: 20px;
        width: auto;
        padding: 8px 0px;
        text-align: start;
    }



    /* =================
    work part end
    ================== */


    /* =================
    project part start
    ================== */

    .project {
        padding: 40px 0px;
    }

    .project .box {
        display: inline;
    }

    .project h3 {
        font-size: 28px;
        font-weight: 500;
        line-height: 28px;
        padding-bottom: 20px;
        text-align: center;
    }


    .project-btn {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        padding-bottom: 30px;
        text-align: center;
    }

    .project-btn:hover i {
        opacity: 0;
    }

    .project .col-lg-8 img {
        width: 100%;
        margin: 15px auto;
        height: auto;
    }

    .project .col-lg-8 .overly {
        opacity: 0;
    }


    .project .col-lg-4 .card2 {
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }



    .project .col-lg-4 .card-two .overly-two {
        opacity: 0;
    }


    /* .project .col-lg-4 .card3 {
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    } */

    img,
    svg {
        vertical-align: middle;
        width: 100%;
        height: auto;
    }



    .project .col-lg-4 .card-three .overly-three {
        opacity: 0;
    }



    /* =================
    project part end
    ================== */


    /* =================
    features part start
    ================== */

    .features {
        padding: 40px 0px;
    }

    .features .header h3 {
        font-size: 12px;
        font-weight: 400;
        line-height: 34px;
    }

    .features .header p {
        font-size: 22px;
        width: auto;
        font-weight: 500;
        line-height: 45px;
        text-align: center;
        margin-left: 0px;
    }

    .features .col-lg-4 img {
        width: 10%;
        height: auto;
    }

    .features .col-lg-4 h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 8px;
    }

    .features .col-lg-4 p {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        width: 100%;
    }

    .features .col-lg-4 {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        margin: 10px 10px;
        width: 94%;
        box-shadow: 0px 0px 10px black;
    }



    /* =================
    features part end
    ================== */
}