/* ===============================
        common css start
================================== */
nav {
    background: #1C1E53;
    padding: 16px 0px !important;
}

a {
    text-decoration: none;
}

.box {
    display: flex;
    align-items: center;
}

/* ===============================
        common css end
================================== */

/* ===============================
        navber css start
================================== */


.navbar-nav {
    column-gap: 32px;
}


.nav-link {
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.nav-link:hover {
    color: white;
}

.nav-btn {
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    color: aliceblue;
    padding: 16px 48px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-left: 48px;
    transition: .5s;
}

.nav-btn:hover {
    background: #FCD980;
    color: black;
}

/* ===============================
        navber css end 
================================== */


/* ===============================
        bannar css start
================================== */
.bannar {
    background: #1C1E53;
    padding: 126px 0px;
}

.bannar img {
    padding-top: 30px !important;
}

.bannar h2 {
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 74px;
}

.bannar p {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, .70);
    padding-top: 24px;
    padding-bottom: 48px;
    width: 562px;
    line-height: 28px;
}

.bannar-btn {
    border: 2px solid rgba(244, 246, 252, 0.2);
    background: #FCD980;
    border-radius: 41px;
    color: black;
    padding: 16px 56px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    transition: .4s;
    display: inline-block;
}

.bannar-btn:hover {
    background: transparent;
    color: #FCD980;
}

.bannar-btn-price {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    /* line-height: 32px; */
    font-family: "Poppins", sans-serif;
    position: relative;
    padding-left: 40px;
    overflow: hidden;
}

.bannar-btn-price:hover {
    overflow: visible;
}

.bannar-btn-price a {
    color: white;
}

.bannar-btn-price i {
    position: absolute;
    cursor: pointer;
    color: white;
    top: 5px;
    left: 130px;
    transition: .4s;
    opacity: 0;
}

.bannar-btn-price:hover i {
    left: 150px;
    opacity: 1;
}


/* ===============================
        bannar css end
================================== */


/* ===============================
        work css start
================================== */
.work {
    background: #F4F6FC;
    padding: 128px 0px;
}

.work h3 {
    font-size: 48px;
    font-weight: 600;
    color: #282938;
    line-height: 64px;
    font-family: "Poppins", sans-serif;

}

.work p {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    width: 405px;
    padding: 16px 0px;
}

.work-btn {
    font-size: 18px;
    font-weight: 500;
    color: #2405F2;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.work-btn a {
    color: #2405F2;
}

.work-btn i {
    position: absolute;
    cursor: pointer;
    color: #2405F2;
    top: 7px;
    left: 180px;
    transition: .4s;
    opacity: 0;
}

.work-btn:hover i {
    left: 190px;
    opacity: 1;
}

.work .col-lg-6 h4 {
    color: #282938;
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 48px;
    padding-top: 25px;
    /* padding-bottom: 8px; */
}

.work .col-lg-6 p {
    width: 303px;
}

/* ===============================
        work css end
================================== */


/* ===============================
        project css start
================================== */
.project {
    padding: 128px 0px;
}

.project .box {
    justify-content: space-between;
}

.project h3 {
    font-size: 48px;
    font-weight: 600;
    color: #282938;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 64px;

}

.project-btn {
    font-size: 16px;
    font-weight: 500;
    color: #282938;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    position: relative;
    overflow: hidden;
    margin-right: 40px;
    padding-bottom: 64px;

}

.project-btn:hover {
    overflow: visible;
}

.project-btn a {
    color: #282938;
}

.project-btn i {
    position: absolute;
    cursor: pointer;
    color: #282938;
    top: 7px;
    left: 90px;
    transition: .4s;
    opacity: 0;
}

.project-btn:hover i {
    left: 100px;
    opacity: 1;
}

.project .col-lg-8 img {
    width: 843px;
    height: 570px;
    margin-left: -12px;

}

.project .col-lg-8 {
    position: relative;
    overflow: hidden;

}

.project .col-lg-8 .overly {
    width: 395px;
    height: 570px;
    position: absolute;
    background: #1C1E53;
    opacity: .42;
    top: 0;
    left: -440px;
    transition: .5s;


}

.project .col-lg-8:hover .overly {
    top: 0;
    left: 0px;
    box-sizing: border-box;

}

.project .col-lg-8 .overly h2 {
    /* padding: 312px 36px 216px 48px; */
    padding-top: 312px;
    padding-left: 48px;
    width: 390px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 36px;
    color: white;
}

.project .col-lg-8 .overly p {
    padding-top: 16px;
    /* padding-bottom: 16px; */
    padding-left: 48px;
    width: 320px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    color: #FFFFFF;
}

.project-btn-one {
    padding-left: 48px;
    font-size: 16px;
    font-weight: 500;
    color: #FCD980;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.project-btn-one a {
    color: #FCD980;
}

.project-btn-one i {
    position: absolute;
    cursor: pointer;
    color: #FCD980;
    top: 10px;
    left: 150px;
    transition: .4s;
    opacity: 0;
}

.project-btn-one:hover i {
    left: 170px;
    opacity: 1;
}



.project .col-lg-4 .card2 {
    width: 405px;
    height: 284px;
    padding-bottom: 32px;
}



.project .card-two {
    position: relative;
    overflow: hidden;

}

.project .card-two .overly-two {
    width: 405px;
    height: 252px;
    position: absolute;
    background: #1C1E53;
    opacity: .42;
    top: -252px;
    left: 0;
    transition: .5s;


}

.project .card-two:hover .overly-two {
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.project .col-lg-4 .card-two .overly-two h2 {
    /* padding: 312px 36px 216px 48px; */
    padding-top: 129px;
    padding-left: 56px;
    width: 313px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 36px;
    color: white;
}

.project-btn-two {
    padding-left: 56px;
    font-size: 16px;
    font-weight: 500;
    color: #FCD980;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.project-btn-two a {
    color: #FCD980;
    padding-top: 10px;
}

.project-btn-two i {
    position: absolute;
    cursor: pointer;
    color: #FCD980;
    top: 9px;
    left: 160px;
    transition: .4s;
    opacity: 0;
}

.project-btn-two:hover i {
    left: 180px;
    opacity: 1;
}




.project .card-three {
    position: relative;
    overflow: hidden;

}

.project .card-three .overly-three {
    width: 405px;
    height: 284px;
    position: absolute;
    background: #1C1E53;
    opacity: .42;
    top: 570px;
    left: 0;
    transition: .5s;
}

.project .card-three:hover .overly-three {
    top: 0px;
    left: 0px;
    box-sizing: border-box;
}

.project .col-lg-4 .card-three .overly-three h2 {
    /* padding: 312px 36px 216px 48px; */
    padding-top: 129px;
    padding-left: 56px;
    width: 313px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 36px;
    color: #FFFFFF;
}

.project-btn-three {
    padding-left: 56px;
    font-size: 16px;
    font-weight: 500;
    color: #FCD980;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.project-btn-three a {
    color: #FCD980;
    padding-top: 10px;
}

.project-btn-three i {
    position: absolute;
    cursor: pointer;
    color: #FCD980;
    top: 9px;
    left: 160px;
    transition: .4s;
    opacity: 0;
}

.project-btn-three:hover i {
    left: 180px;
    opacity: 1;
}







/* ===============================
        project css end
================================== */