/* ===============================
        common css start
================================== */
nav {
    background: #1C1E53;
    padding: 16px 0px !important;
}

a {
    text-decoration: none;
}

/* ===============================
        common css end
================================== */

/* ===============================
        navber css start
================================== */


.navbar-nav {
    column-gap: 32px;
}


.nav-link {
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.nav-link:hover {
    color: white;
}

.nav-btn {
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    color: aliceblue;
    padding: 16px 48px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-left: 48px;
    transition: .5s;
}

.nav-btn:hover {
    background: #FCD980;
    color: black;
}

/* ===============================
        navber css end 
================================== */


/* ===============================
        bannar css start
================================== */
.bannar {
    background: #1C1E53;
    padding: 126px 0px;
}

.bannar img {
    padding-top: 30px !important;
}

.bannar h2 {
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 74px;
}

.bannar p {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, .70);
    padding-top: 24px;
    padding-bottom: 48px;
    width: 562px;
    line-height: 28px;
}

.bannar-btn {
    border: 2px solid rgba(244, 246, 252, 0.2);
    background: #FCD980;
    border-radius: 41px;
    color: black;
    padding: 16px 56px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    transition: .4s;
}

.bannar-btn:hover {
    background: transparent;
    color: #FCD980;
}

.bannar-btn-price {
    position: relative;
    display: inline-block;
}

.bannar-btn-pricing {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;
    padding-left: 40px;
    /* position: relative; */
    /* overflow: visible; */
}

.bannar-btn-price i {
    cursor: pointer;
    color: white;
    align-items: center;
    position: absolute;
    top: 6px;
    right: -22px;
    transition:  .4s;
    opacity: 0;
}

.bannar-btn-price:hover i {
    right: -32px;
    opacity: 1;
}

/* ===============================
        bannar css end
================================== */


/* ===============================
        work css start
================================== */
.work{
    background: #F4F6FC;
    padding: 128px 0px;
}

.work h3{
    font-size: 48px;
    font-weight: 600;
    color: #282938;
    line-height: 64px;
    font-family: "Poppins", sans-serif;

}

.work p{
    font-size: 16px;
    font-weight: 400;
    color: gray;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    width: 405px;
    padding: 16px 0px;
}

.work-btn {
    font-size: 18px;
    font-weight: 500;
    color: #2405F2;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    position: relative;
}
.work-btn a {
    color: #2405F2;
}

.work-btn i {
    position: absolute;
    cursor: pointer;
    color: #2405F2;
    top: 7px;
    left: 180px;
    transition: .4s;
    opacity: 0;
}

.work-btn:hover i{
    left: 190px;
    opacity: 1;
}

.work .col-lg-6 h4{
    color: #282938;
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 48px;
    padding-top: 25px;
    /* padding-bottom: 8px; */
}

.work .col-lg-6 p {
    width: 303px;
}



/* ===============================
        work css end
================================== */